<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewData["Title"] | Qademli</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="~/assets2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets2/css/paper-dashboard.min1036.css" rel="stylesheet" />
    <link href="~/assets2/css/custom.css" rel="stylesheet" />
    <link href="~/assets2/css/responsive.css" rel="stylesheet" />
</head>

<body class="">
    <style>
        .error {
            color:red;
        }
    </style>
    <div class="wrapper">
        <div class="main-panel">
            <!--Sidebar-->
            <div id="sidebar_panel" class="sidebar bg_white" data-active-color="danger">
                <a class="close_menu"><i class="fas fa-times"></i></a>
                <div class="site_logo">
                    <a href="./"><img src="~/assets2/img/logo.png" alt="logo"></a>
                </div>
                <div class="sidebar-wrapper">
                    <ul class="nav sidebar_nav pos_rel">
                        <li>
                            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Application">
                                <i class="fa fa-list"></i>
                                <span class="sidebar-normal">Applications</span>
                            </a>
                        </li>
                        <li class="active">
                            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Goal">
                                <i class="fas fa-plus-square"></i>
                                <span class="sidebar-normal">Goals</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="Dashboard" asp-action="GoalProperty">
                                <i class="fas fa-phone-square-alt"></i>
                                <span class="sidebar-normal">Goal Property</span>
                            </a>
                        </li>
                        <li>
                            <a href="settings.php">
                                <i class="fas fa-cog"></i>
                                <span class="sidebar-normal">Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--// Sidebar-->
            <div class="content">
                <!--Topbar-->
                <div class="top_bar_wrape text-right pb-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="icons_wrap pos_rel">
                                <a id="sidebar_toggler"><i class="fas fa-bars"></i></a>
                                <a href="#"><i class="far fa-bell"></i></a>
                                <span class="dropdown pos_rel">
                                    <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="user_drpdown">
                                        <ul class="user_links">
                                            <li><a href="#">Profile</a></li>
                                            <li><a href="#">Logout</a></li>
                                        </ul>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                @RenderBody()
                <div id="footer" class="text-center text-sm-right pt-4 pb-0 pr-2">
                    <p class="my-0">
                        © Copyright
                        <script>
                            document.write(new Date().getFullYear())
                        </script> Qademli.
                    </p>
                </div>
            </div>
        </div>


    </div>


    <!--   Core JS Files   -->
    <script src="~/assets2/js/core/jquery.min.js"></script>
    <script src="~/assets2/js/core/popper.min.js"></script>
    <script src="~/assets2/js/core/bootstrap.min.js"></script>
    <script src="~/assets2/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/assets2/js/plugins/moment.min.js"></script>
    <script src="~/assets2/js/paper-dashboard.min1036.js?v=2.1.1" type="text/javascript"></script>
    <script src="~/assets2/js/custom.js" type="text/javascript"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
<!--Includes Footer-->
@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>*@
