
@{
    ViewData["Title"] = "AllGoal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <main>
        <section class="uni_banner text-center" style="background-image: url('/assets/img/students.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="fw_600 text-white">@ViewBag.Topic</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="uni_list_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-uppercase fw_600 text-center">@ViewBag.Topic</h2>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6">
                        <div class="container-fluid">
                            <div class="card">
                                <div class="row">
                                    <div class="img-square-wrapper col-4">
                                        <img class="mt-3 ml-3" src="assets/img/uni1.png" alt="Card image cap">
                                    </div>
                                    <div class="card-body col-8">
                                        <h4 class="card-title pb-1">American University of the Middle East</h4>
                                        <h5 class="card-text pb-0">Major: BA, IT, ENG</h5>
                                        <h5 class="card-text pb-0">Kuwait, Egaita</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="container-fluid">
                            <div class="card">
                                <div class="row">
                                    <div class="img-square-wrapper col-4">
                                        <img class="mt-3 ml-3" src="assets/img/uni5.png" alt="Card image cap">
                                    </div>
                                    <div class="card-body col-8">
                                        <h4 class="card-title pb-1">American University of the Middle East</h4>
                                        <h5 class="card-text pb-0">Major: BA, IT, ENG</h5>
                                        <h5 class="card-text pb-0">Kuwait, Egaita</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6">
                        <div class="container-fluid">
                            <div class="card">
                                <div class="row">
                                    <div class="img-square-wrapper col-4">
                                        <img class="mt-3 ml-3" src="assets/img/uni6.png" alt="Card image cap">
                                    </div>
                                    <div class="card-body col-8">
                                        <h4 class="card-title pb-1">American University of the Middle East</h4>
                                        <h5 class="card-text pb-0">Major: BA, IT, ENG</h5>
                                        <h5 class="card-text pb-0">Kuwait, Egaita</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="container-fluid">
                            <div class="card">
                                <div class="row">
                                    <div class="img-square-wrapper col-4">
                                        <img class="mt-3 ml-3" src="assets/img/uni5.png" alt="Card image cap">
                                    </div>
                                    <div class="card-body col-8">
                                        <h4 class="card-title pb-1">American University of the Middle East</h4>
                                        <h5 class="card-text pb-0">Major: BA, IT, ENG</h5>
                                        <h5 class="card-text pb-0">Kuwait, Egaita</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6">
                        <div class="container-fluid">
                            <div class="card">
                                <div class="row">
                                    <div class="img-square-wrapper col-4">
                                        <img class="mt-3 ml-3" src="assets/img/uni4.png" alt="Card image cap">
                                    </div>
                                    <div class="card-body col-8">
                                        <h4 class="card-title pb-1">American University of the Middle East</h4>
                                        <h5 class="card-text pb-0">Major: BA, IT, ENG</h5>
                                        <h5 class="card-text pb-0">Kuwait, Egaita</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="container-fluid">
                            <div class="card">
                                <div class="row">
                                    <div class="img-square-wrapper col-4">
                                        <img class="mt-3 ml-3" src="assets/img/uni3.png" alt="Card image cap">
                                    </div>
                                    <div class="card-body col-8">
                                        <h4 class="card-title pb-1">American University of the Middle East</h4>
                                        <h5 class="card-text pb-0">Major: BA, IT, ENG</h5>
                                        <h5 class="card-text pb-0">Kuwait, Egaita</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6">
                        <div class="container-fluid">
                            <div class="card">
                                <div class="row">
                                    <div class="img-square-wrapper col-4">
                                        <img class="mt-3 ml-3" src="assets/img/uni5.png" alt="Card image cap">
                                    </div>
                                    <div class="card-body col-8">
                                        <h4 class="card-title pb-1">American University of the Middle East</h4>
                                        <h5 class="card-text pb-0">Major: BA, IT, ENG</h5>
                                        <h5 class="card-text pb-0">Kuwait, Egaita</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="container-fluid">
                            <div class="card">
                                <div class="row">
                                    <div class="img-square-wrapper col-4">
                                        <img class="mt-3 ml-3" src="assets/img/uni1.png" alt="Card image cap">
                                    </div>
                                    <div class="card-body col-8">
                                        <h4 class="card-title pb-1">American University of the Middle East</h4>
                                        <h5 class="card-text pb-0">Major: BA, IT, ENG</h5>
                                        <h5 class="card-text pb-0">Kuwait, Egaita</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

