
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home_banner" class="pos_rel" data-parallax="true" style="background-image: url('/assets/img/home-banner.jpg');">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="motto">
                <!--
                          <h1 class="title">Qademli</h1>
                          <h3 class="description">Welcome to Qademli</h3>
                -->

            </div>
        </div>
    </div>
</div>
<section id="services" class="services_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--University Area-->
                <div class="uni_section sec_single mb-4">
                    <div class="row uni_heading_area mb-4">
                        <div class="col-md-8">
                            <h3 class="text-blue fw_600 my-0">Top Universities</h3>
                        </div>
                        <div class="col-md-4 text-right">
                            <a class="view_all_btn view_more_uni"><span class="more">View All</span><span class="less">View Less</span></a>
                        </div>
                    </div>
                    <div class="row main_row text-center mb-4">
                        <div class="col-md-3">
                            <div class="single_item">
                                <a class="text-blue" id="view_detial1">
                                    <img src="assets/img/saint.png" alt="uni-logo" class="uni_logo">
                                    <h4 class="my-0 text-blue">Saint Francis University</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_item">
                                <a href="#" class="text-blue">
                                    <img src="assets/img/albama.png" alt="uni-logo" class="uni_logo">
                                    <h4 class="my-0 text-blue">University of North Alabama</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_item">
                                <a href="#" class="text-blue">
                                    <img src="assets/img/drury.png" alt="uni-logo" class="uni_logo">
                                    <h4 class="my-0 text-blue">Drury University</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_item">
                                <a href="#" class="text-blue">
                                    <img src="assets/img/monmouth.png" alt="uni-logo" class="uni_logo">
                                    <h4 class="my-0 text-blue">Monmouth University</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="view_all_uni d-none">
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="single_item_details">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a class="text-blue">
                                                <img src="assets/img/saint.png" alt="uni-logo">
                                            </a>
                                        </div>
                                        <div class="col-md-8">
                                            <a class="text-blue">
                                                <h4 class="mt-2 mb-3 fw_600 text-blue uni_name">Saint Francis University</h4>
                                            </a>
                                            <p class="major">Majors: <span class="major_subject">Business. IT, Other</span></p>
                                            <p class="m-0 loction">Florida, Miami</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single_item_details">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="#" class="text-blue">
                                                <img src="assets/img/albama.png" alt="uni-logo">
                                            </a>
                                        </div>
                                        <div class="col-md-8">
                                            <a href="#" class="text-blue">
                                                <h4 class="mt-2 mb-3 fw_600 text-blue uni_name">University of North Alabama</h4>
                                            </a>
                                            <p class="major">Majors: <span class="major_subject">Business. IT, Other</span></p>
                                            <p class="m-0 loction">Florida, Miami</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="single_item_details">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="#" class="text-blue">
                                                <img src="assets/img/drury.png" alt="uni-logo">
                                            </a>
                                        </div>
                                        <div class="col-md-8">
                                            <a href="#" class="text-blue">
                                                <h4 class="mt-2 mb-3 fw_600 text-blue uni_name">Drury University</h4>
                                            </a>
                                            <p class="major">Majors: <span class="major_subject">Business. IT, Other</span></p>
                                            <p class="m-0 loction">Florida, Miami</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single_item_details">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="#" class="text-blue">
                                                <img src="assets/img/monmouth.png" alt="uni-logo">
                                            </a>
                                        </div>
                                        <div class="col-md-8">
                                            <a href="#" class="text-blue">
                                                <h4 class="mt-2 mb-3 fw_600 text-blue uni_name">Monmouth University</h4>
                                            </a>
                                            <p class="major">Majors: <span class="major_subject">Business. IT, Other</span></p>
                                            <p class="m-0 loction">Florida, Miami</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="single_item_details">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="#" class="text-blue">
                                                <img src="assets/img/saint.png" alt="uni-logo">
                                            </a>
                                        </div>
                                        <div class="col-md-8">
                                            <a href="#" class="text-blue">
                                                <h4 class="mt-2 mb-3 fw_600 text-blue uni_name">Saint Francis University</h4>
                                            </a>
                                            <p class="major">Majors: <span class="major_subject">Business. IT, Other</span></p>
                                            <p class="m-0 loction">Florida, Miami</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single_item_details">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="#" class="text-blue">
                                                <img src="assets/img/albama.png" alt="uni-logo">
                                            </a>
                                        </div>
                                        <div class="col-md-8">
                                            <a href="#" class="text-blue">
                                                <h4 class="mt-2 mb-3 fw_600 text-blue uni_name">University of North Alabama</h4>
                                            </a>
                                            <p class="major">Majors: <span class="major_subject">Business. IT, Other</span></p>
                                            <p class="m-0 loction">Florida, Miami</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="single_item_details">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="#" class="text-blue">
                                                <img src="assets/img/drury.png" alt="uni-logo">
                                            </a>
                                        </div>
                                        <div class="col-md-8">
                                            <a href="#" class="text-blue">
                                                <h4 class="mt-2 mb-3 fw_600 text-blue uni_name">Drury University</h4>
                                            </a>
                                            <p class="major">Majors: <span class="major_subject">Business. IT, Other</span></p>
                                            <p class="m-0 loction">Florida, Miami</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single_item_details">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="#" class="text-blue">
                                                <img src="assets/img/monmouth.png" alt="uni-logo">
                                            </a>
                                        </div>
                                        <div class="col-md-8">
                                            <a href="#" class="text-blue">
                                                <h4 class="mt-2 mb-3 fw_600 text-blue uni_name">Monmouth University</h4>
                                            </a>
                                            <p class="major">Majors: <span class="major_subject">Business. IT, Other</span></p>
                                            <p class="m-0 loction">Florida, Miami</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_uni_data text-center pos_rel d-none" id="detail_item1">
                        <div class="row logo_section">
                            <div class="col-md-12">
                                <a class="back_btn pos_abs text-blue"><i class="fas fa-chevron-left clr_inhert"></i> Back</a>
                                <img src="assets/img/saint.png" alt="uni logo" class="uni_loggo mx-auto mb-4">
                                <h4 class="uni_name fw_600 m-0">Saint Francis University</h4>
                                <p class="location">Location: Florida. Miami</p>
                            </div>
                        </div>
                        <div class="row mx-auto w_1000 text-left mt-4">
                            <div class="col-md-6">
                                <div class="row mb-2">
                                    <div class="col-md-5">
                                        <h5 class="label my-0">Majors:</h5>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="major_subjetcs uni_data">
                                            Engineering, Bussiness, Other Majors
                                        </p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-5">
                                        <h5 class="label my-0">Concentrations:</h5>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="major_subjetcs uni_data">
                                            Electrical Engineering, Envoirnment Engineering, Mechinical Engineering, Bio Engineering, Finance, Merketing, computer Science, Real Estate, Chemistry, Logistics, biology, Political Sciences, Bussiness, Management, Advertising, Others
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-2">
                                    <div class="col-md-5">
                                        <h5 class="label my-0">Required IELTS:</h5>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="major_subjetcs uni_data">6.5</p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-5">
                                        <h5 class="label my-0">Required TOEFL:</h5>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="major_subjetcs uni_data">80</p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-5">
                                        <h5 class="label my-0">Required SAT:</h5>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="major_subjetcs uni_data">Needed depends on major</p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-5">
                                        <h5 class="label my-0">Transfer:</h5>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="major_subjetcs uni_data">60 Credeits passeds 2.0 GPA</p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-5">
                                        <h5 class="label my-0">Aapplication Fee:</h5>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="major_subjetcs uni_data">30 USD</p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-5">
                                        <h5 class="label my-0">Airport:</h5>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="major_subjetcs uni_data">Miami International Airport...</p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-5">
                                        <h5 class="label my-0">Weather(Summer Average):</h5>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="major_subjetcs uni_data">28 C</p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-5">
                                        <h5 class="label my-0">Weather(Winter Average):</h5>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="major_subjetcs uni_data">18 C</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-auto w_1000 text-left mt-4" id="btn_wrap">
                            <div class="col-md-12">
                                <a href="application-form.php" class="btn_user_action">Apply as a Freshman</a>
                                <a href="application-form.php" class="btn_user_action">Apply for Transfer</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!--Languages Area-->
                <div class="language_section sec_single mb-4">
                    <div class="row  mb-4">
                        <div class="col-md-8">
                            <h3 class="text-blue fw_600 my-0">Top Language Centers</h3>
                        </div>
                        <div class="col-md-4 text-right">
                            <a class="view_all_btn view_more_lang_centers"><span class="more">View All</span><span class="less">View Less</span></a>
                        </div>
                    </div>
                    <div class="row text-center mb-4">
                        <div class="col-md-3">
                            <div class="single_item">
                                <a href="#" class="text-blue">
                                    <img src="assets/img/villanova.png" alt="uni-logo" class="uni_logo">
                                    <h4 class="my-0 text-blue">Villanova University</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_item">
                                <a href="#" class="text-blue">
                                    <img src="assets/img/aum.png" alt="uni-logo" class="uni_logo">
                                    <h4 class="my-0 text-blue">American University of Middle East</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_item">
                                <a href="#" class="text-blue">
                                    <img src="assets/img/queens.png" alt="uni-logo" class="uni_logo">
                                    <h4 class="my-0 text-blue">Queens University</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_item">
                                <a href="#" class="text-blue">
                                    <img src="assets/img/albama.png" alt="uni-logo" class="uni_logo">
                                    <h4 class="my-0 text-blue">University of North Alabama</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="view_all_centers d-none">
                        <div class="row text-center mb-4">
                            <div class="col-md-3">
                                <div class="single_item">
                                    <a href="#" class="text-blue">
                                        <img src="assets/img/villanova.png" alt="uni-logo" class="uni_logo">
                                        <h4 class="my-0 text-blue">Villanova University</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single_item">
                                    <a href="#" class="text-blue">
                                        <img src="assets/img/aum.png" alt="uni-logo" class="uni_logo">
                                        <h4 class="my-0 text-blue">American University of Middle East</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single_item">
                                    <a href="#" class="text-blue">
                                        <img src="assets/img/queens.png" alt="uni-logo" class="uni_logo">
                                        <h4 class="my-0 text-blue">Queens University</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single_item">
                                    <a href="#" class="text-blue">
                                        <img src="assets/img/albama.png" alt="uni-logo" class="uni_logo">
                                        <h4 class="my-0 text-blue">University of North Alabama</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center mb-4">
                            <div class="col-md-3">
                                <div class="single_item">
                                    <a href="#" class="text-blue">
                                        <img src="assets/img/villanova.png" alt="uni-logo" class="uni_logo">
                                        <h4 class="my-0 text-blue">Villanova University</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single_item">
                                    <a href="#" class="text-blue">
                                        <img src="assets/img/aum.png" alt="uni-logo" class="uni_logo">
                                        <h4 class="my-0 text-blue">American University of Middle East</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single_item">
                                    <a href="#" class="text-blue">
                                        <img src="assets/img/queens.png" alt="uni-logo" class="uni_logo">
                                        <h4 class="my-0 text-blue">Queens University</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single_item">
                                    <a href="#" class="text-blue">
                                        <img src="assets/img/albama.png" alt="uni-logo" class="uni_logo">
                                        <h4 class="my-0 text-blue">University of North Alabama</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center mb-4">
                            <div class="col-md-3">
                                <div class="single_item">
                                    <a href="#" class="text-blue">
                                        <img src="assets/img/villanova.png" alt="uni-logo" class="uni_logo">
                                        <h4 class="my-0 text-blue">Villanova University</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single_item">
                                    <a href="#" class="text-blue">
                                        <img src="assets/img/aum.png" alt="uni-logo" class="uni_logo">
                                        <h4 class="my-0 text-blue">American University of Middle East</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single_item">
                                    <a href="#" class="text-blue">
                                        <img src="assets/img/queens.png" alt="uni-logo" class="uni_logo">
                                        <h4 class="my-0 text-blue">Queens University</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single_item">
                                    <a href="#" class="text-blue">
                                        <img src="assets/img/albama.png" alt="uni-logo" class="uni_logo">
                                        <h4 class="my-0 text-blue">University of North Alabama</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Ad Area-->
                <div class="row ad_area">
                    <div class="col-md-8 mx-auto">
                        <img src="assets/img/ad.png" alt="ad" class="img-responsive ad_img">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
</main>

